.fetchUserBtn {
    width: 200px;
    padding: 5px;
    font-size: 13px
}

.subTitle {
    color: #4a4e4d;
    margin-bottom: 5px;
    margin-top: 0px;
}

select {
    padding: 5px;
    border: 0;
    border-bottom: 1px solid #4a4e4d;
    outline: none;
}

.generateReviewersDiv {
    margin-top: 20px;
    min-height: 50px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.generateBtn {
    width: 200px;
    padding: 10px;
    font-size: 13px;
}

.removeBtn {
    border-radius: 50%;
    width: 20px; 
    height: 20px; 
    margin-right: 20px; 
    cursor: pointer; 
    background-color: #fe8a71; 
    line-height: 20px; 
    text-align:center;
}