.settings {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.option {
    display: flex;
    align-items: center;
    justify-content: center;
}

.option__input {
    margin-right: 5px;
}

.option__label {
    margin-right: 5px;
}
