.settings-form {
  position: absolute;
  background-color: #282c34;
  right: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #545d6e;
  box-shadow: 2px 2px 4px #545d6e;
}

.form-row {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
}

.form-label {
  text-align: start;
}

.form-hint {
  text-align: start;
  font-size: 0.75rem;
  color: #bbb;
}

.form-input {
  padding: .375rem .75rem
}