.content {
  display: flex;
  justify-content: center;
}

.settings {
  justify-content: center;
  display: flex;
  position: absolute;
  background: #fff;
  width: 400px;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 5px;
}
